# Ignore node_modules directory
node_modules/

# Ignore logs and build output
logs/
build/
dist/

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore dependency directories
/.pnp
.pnp.js

# Ignore yarn.lock file
yarn.lock

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore .vscode folder (Visual Studio Code)
.vscode/

# Ignore .idea folder (IntelliJ IDEA)
.idea/

# Ignore .cache folder
.cache/

# Ignore .eslintcache file
.eslintcache

# Ignore .npmrc file
.npmrc

# Ignore .yarnrc file
.yarnrc

# Ignore .babelrc and .babelrc.js files
.babelrc
.babelrc.js

# Ignore .tern-port file (Tern.js)
.tern-port

# Ignore .flowconfig file (Flow)
.flowconfig

# Ignore .editorconfig file (EditorConfig)
.editorconfig

# Ignore .gitattributes file
.gitattributes

# Ignore .gitmodules file
.gitmodules

# Ignore .hgignore file (Mercurial)
.hgignore

# Ignore .jshintrc and .jshintignore files (JSHint)
.jshintrc
.jshintignore

# Ignore .eslintrc and .eslintignore files (ESLint)
.eslintrc
.eslintignore

# Ignore .stylelintrc and .stylelintignore files (StyleLint)
.stylelintrc
.stylelintignore

# Ignore .prettierrc and .prettierignore files (Prettier)
.prettierrc
.prettierignore

# Ignore .tern-project file (Tern.js)
.tern-project

# Ignore tsconfig.json file (TypeScript)
tsconfig.json

# Ignore .vs directory (Visual Studio)
.vs

# Ignore .history directory (JetBrains)
.history

# Ignore .firebase directory (Firebase)
.firebase/
